<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="scripts/acorn_interpreter.js"></script>
  <script src="scripts/blockly_compressed.js"></script>
  <script src="scripts/blocks_compressed.js"></script>
  <script src="scripts/javascript_compressed.js"></script>
  <script src="scripts/en.js"></script>
  <script src="scripts/witch_blocks.js"></script>
</head>
<body>
  <p>
    <button onclick="runCode()" id="runButton">Run JavaScript</button>
  </p>

  <div style="width: 100%">
    <div id="blocklyDiv"
        style="display: inline-block; height: 480px; width: 58%"></div>
    <textarea id="output" disabled="disabled"
        style="display: inline-block; height: 480px; width: 38%;">
    </textarea>
  </div>

  <xml id="toolbox" style="display: none">
    <block type="witch_up"></block>
    <block type="witch_down"></block>
    <block type="witch_left"></block>
    <block type="witch_right"></block>
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <block type="math_number">
          <field name="NUM">10</field>
        </block>
      </value>
    </block>
  </xml>

  <script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
        {media: 'media/', toolbox: document.getElementById('toolbox')});
    var runButton = document.getElementById('runButton');
    var outputArea = document.getElementById('output');

    function witchUp() {
      outputArea.value += 'witchUp!\n';
    }

    function witchDown() {
      outputArea.value += 'witchDown!\n';
    }

    function witchLeft() {
      outputArea.value += 'witchLeft!\n';
    }

    function witchRight() {
      outputArea.value += 'witchRight!\n';
    }

    function runCode() {
      let code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      let interpreter = new Interpreter(code, witchApi);
      outputArea.value = '';
      interpreter.run();
    }
  </script>
</body>
</html>
