@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Condensed');

input {
    margin: 5px;
}

a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: #ccc;
}

a:hover {
    text-decoration: none;
    color: rgb(87, 119, 161);
}

.form-inline {
    padding-top: 175px;
    /* margin-top: 75px; */
    /* margin: 5px; */
}

.form-control {
    font-family: 'Press Start 2P', cursive;
    color: #ccc;
}


.error {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Press Start 2P', cursive;
    color: #9E9E9E;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}

.header-links {
    display:  flex;
    align-items: baseline;
}

.link {
    margin-left: 25px;
    color: #ccc;
    transition: all 0.6s ease;
}

.link:hover {
    font-size: 24px;
    text-shadow: 0 0 50px blue;
}

nav {
    background : none;
    font-size: 1.125em;
    margin-right: 5%;
    text-align:right;
    width:45%;
  }

nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

/* this is to float logo to the right */
   #logo {
    margin-left:5%;
    text-align:left;
    width:45%;
  }

.header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin: 0;
    padding: 0px 0px;
    height: 75;
    width: 100%;
}

.left {
    margin-right:auto;
}

.right {
    margin-left:auto;
    display: inline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: #ccc;
    font-size: 2em;
  }

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}

.button {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 10px 15px 0 rgba(255, 255, 255,0.19);
     /* #ccc; */
}
